@font-face {
    font-family: Iransans;
    src: url(../../fonts/IRANSansWeb.woff2);
}

body {
    direction: rtl;
    font-family: Iransans;
}

.content-box {
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.lead {
    text-align: justify;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 40px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card-body {
    padding: 20px;
}

.card h3 {
    color: #34495e;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    color: #34495e;
}

.card-text {
    color: #2c3e50;
}

.btn {
    
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-info {
    background-color: #1abc9c;
    border: none;
}

.btn-info:hover {
    background-color: #16a085;
}

.btn-secondary {
    background-color: #7f8c8d;
    border: none;
}

.btn-secondary:hover {
    background-color: #95a5a6;
}

.btn-success {
    background-color: #2ecc71;
    border: none;
}

.btn-success:hover {
    background-color: #27ae60;
}

.btn-primary {
    background-color: #3498db;
    border: none;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.btn-warning {
    background-color: #f39c12;
    border: none;
}

.btn-warning:hover {
    background-color: #e67e22;
}

ul.list-group {
    margin-top: 10px;
}

ul.list-group li {
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    color: #34495e;
    font-weight: 600;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #22d13a;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal-header .btn-close{
    margin: 0;
}
.description{
    text-align: justify;
}
